#nav {
  background-image: url("/images/test1.jpg");
  z-index: 1000;
}

.my-toggler {
  /* border: 1px solid white; */
  background-color: rgba(255, 255, 255, 0.37);
}

/* .navbar-nav{
    display: flex;
    gap: 80px;
    margin-top: 11px; 
    width: 200px;
    height: 35px;
} */

.nav-item {
  background-image: url("/images/test2.jpg");
  border: 1px solid black;
  margin: 10px;
  text-align: center;
  /* width: 100px;
    height: 35px; */
}

.nav-link {
  color: white;
}
